body{
    width:100%;
    padding:0;
	margin:0;
    background-image: url('pexels-aleksandar-pasaric-2338113.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    font-size: 16px;
    color:#333;
    font-family: 'Quicksand', sans-serif;
}

.content{
    width:100%;
    color: whitesmoke;
    margin: 0px auto;
    height: 140px;
}

header{
    padding: 10px;
    margin-bottom: 10px;
    height: 60px;
}

header h1.judul,
header h3.deskripsi{
    text-align: center;
}

div.badan{
    width: 30%;
    margin: 0px auto;
    background-color: white;
    border: 3px solid;
    border-color: transparent;
    margin-bottom: 10px;
}

div.badan2{
    width: 30%;
    margin: 0px auto;
    background-color: white;
    border-color: transparent;
    margin-bottom: 10px;
    float: left;
    margin-left: 264px;
}

div.badan3{
    width: 30%;
    height: 361px;
    margin: 0px auto;
    background: linear-gradient(to right, #C22ED0, #5FFAE0);
    border: 3px;
    border-color: transparent;
    margin-bottom: 10px;
    float: right;
    margin-right: 264px;
}

.tombol {
    background: linear-gradient(to bottom right, #C22ED0, #5FFAE0);
    color: white;
    border: 0;
    padding: 10px 16px;
}

div.masukkan{
    padding: 10px;
}

.foot{
    margin-bottom: 0px auto;
    color: white;
    position:absolute;
    bottom:0px;
    width:100%;
}

.text-sub{
    font-size: 20px;
    color: #333;
}

.text-sub-keluaran{
    font-size: 20px;
    color: white;
}
.copy{
    padding: 6px;
}

.nilai{
    border: 3px solid ;
    border-image: linear-gradient(to bottom right, #C22ED0, #5FFAE0);
    border-image-slice: 1;
    width: 320px; 
    height: 180px;
}

.keluar{
    color: white;
    margin-left: 16px;
    bottom: 0%;
}

.keluaran1{
    color: white;
    font-size: 18px;
    font-family: Calibri;
}

.keluaran2{
    color: black;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    bottom: 180px;
}