body{
    width:100%;
    padding:0;
	margin:0;
    background-color:whitesmoke;
    font-size: 16px;
    color:#333;
    font-family: 'Quicksand', sans-serif;
}

.content{
    width:100%;
    color: whitesmoke;
    margin: 0px auto;
    height: 180px;
}

header{
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    height: 75px;
}

header h1.judul,
header h3.deskripsi{
    text-align: center;
}

div.badan{
    padding-left: 60px;
    width: 60%;
    margin: 0px auto;
    background-color: whitesmoke;
    border: 3px solid #333;
    margin-bottom: 10px;
    padding-bottom: 3%;
}

.tombol {
    background: #3498db;
    color: whitesmoke;
    border: 0;
    padding: 5px 8px;
}

div.masukkan{
    padding: 10px;
}

.foot{
    margin-bottom: 0px auto;
    color: whitesmoke;
    background-color: #333;
    position:absolute;
    bottom:0px;
    width:100%;
}

.text-sub{
    font-size: 20px;
}

.copy{
    padding: 6px;
}