* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: white;
}
body{
	background-image: url('bursts.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header {
	height:70px;
	background-color: #333;
}
header h1 {
	display: inline-block;
	padding:15px 24px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
	color: white;
}
header h1 a:hover {
	color: #8ac4d0;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #8ac4d0;
}
a {
	text-decoration: none;
}

.desainer{
    color: #8ac4d0;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding:18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width:300px;
	background-color: #8ac4d0;
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding:24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: #8ac4d0;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-image: url('bursts.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	padding:150px 0;
}
section {
	padding:0px 0;
}
.banner img {
	width: 100px;
	border-color: #8ac4d0;
	border-radius: 10px;
	box-shadow: 0 3px 5px #333;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 10px;
}
.banner p {
	font-size: 18px;
}
.banner-left {
	padding-left:24px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #8ac4d0;
	left: calc(50% - 20px);
}
#about p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	/*margin-bottom: 15px;*/
}

.about {
	background-image: url('bursts.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
	padding:100px 0;
}

#skills,
.skills{
	padding-bottom: 150px 0px;
	margin-top: 150px;
}
#skills .bar {
	height: 30px;
	/*border:1px solid #333;*/
	/*margin: 5px 0 20px 0;*/
}
.bar .nilai {
	height:30px;
	background-color: #8ac4d0;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.wd{
	width: 35%;
}
.pg{
	width: 45%;
}
.cd {
	width:75%;
}
.ps {
	width:70%;
}
.pr {
	width:80%;
}
.fls {
	width:65%;
}
.col-4 {
	width:25%;
	box-sizing: border-box;
	padding:5px;
	float: left;
	text-align: center;
	margin-bottom: 15px;
}
.col-4 img {
	width:100%;
}
.col-4 a:hover img {
	transform: scale(1.2);
}
.col-3 {
	width:33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding:50px 10px;
}
.col-3 h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.tamu{
	margin-top: 150px auto;
}

footer {
	margin-top: 150px;
	width: 100%;
	height: 70px;
	background-color: #333;
	text-align: center;
    bottom: 0px;
}
footer small {
	color: #fff;
}
html {
	scroll-behavior: smooth;
}
.pembatas{
	margin-left: 75px;
}

form{
	margin: 16px auto;
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #333;
	margin-bottom: 16px;
}
input[type=text]{
	margin: 5px auto;
	width: 100%;
	padding: 10px;
}
input[type=submit] {
	margin: 5px auto;
	float: right;
	padding: 5px;
	width: 90px;
	border: 1px solid #fff;
	color: #fff;
	background: #8ac4d0;
	cursor: pointer;
}
input[type=reset] {
	margin: 5px auto;
	float: right;
	padding: 5px;
	width: 90px;
	border: 1px solid #fff;
	color: #fff;
	background: #8ac4d0;
	cursor: pointer;
}

.status{
	color: #333;
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width:50%;
	}
	.col-3 {
		width:100%;
	}
}